     
    @font-face {
     font-family: 'Digital-7';
     src: url('digital-7.ttf') format('truetype');
     }
     
     body {
         background-color: purple;
     }
     .page-container {
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
          /** justify-content: center;**/
            height: 90vh;
            background-color: #f0f0f0;
            font-family: Arial, sans-serif;
            border: 5px solid purple;
            border-radius: 20px;
        }
        
        .tool-cont {
            align-items: left;
        }

        .toggles1 {
            padding: 12px 24px;
            margin:50px;
            
            font-size: 18px;
            background-color: green;
            color: #fff;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            font-weight: bold;
        }
        
        #findArea {
            padding: 6px 10px;
            margin:20px;
            
            font-size: 18px;
            background-color: plum;
            color: #a00;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .toggles1:hover {
            background-color: #4caf50;
        }
        
        .toggles2 {
            padding: 12px 24px;
            margin:50px;
            
            font-size: 18px;
            background-color: darkred;
            color: #fff;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }
        
        .conv-overlay, 
        .tri-overlay, 
        .calc-overlay {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.6);
            justify-content: center;
            align-items: center;
            opacity: 0;
            transition: opacity 0.3s ease;
        }
        .conv-box, 
        .tri-box, 
        .calc-box {
            background: #fff;
            padding: 15px;
            border-radius: 12px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
            width: 320px;
            text-align: center;
            opacity: 0;
            transform: scale(0.8);
            animation: fadeInUp 0.5s ease-out forwards;
        }

        .calc-pad {
            
            display: flex;
            width: 250px;
            flex-wrap: wrap;
            margin-left: 40px;
            /**justify-content: center;**/
        }
        .numPads {
            width: 70px;
            height: 40px;
            background-color: cornSilk;
            margin: 6px;
            border-radius:5px;
            font-weight: bold;
            font-size: 25px ;
            
        }
        
        .multi {
            width: 35px;
            height: 40px;
            background-color: cornSilk;
            margin: 2px;
            border-radius:3px;
            font-weight: bold;
            font-size: 15px ;
        }
        
        .clearSheet, .operators {
            width: 70px;
            height: 40px;
            background-color: orange;
            margin: 5px;
            border-radius:35px;
            font-weight: bold;
            font-size: 30px ;
        }
        
        .clearSheet {
            background-color: #ff7777;
        }
        #triOutput, 
        #calcOutput {
            width: 310px;
            height: 100px;
            border-radius: 15px;
            margin: 10px;
            background-color: black;
            color: white;
            font-weight: bold;
            font-size: 25px ;
            
        }
        
        #clearTri {
            width: 60px;
            height:50px;
        }
        
        #rmvTx {
            float: right;
            color: rgba(200,180,180,1);
            font-size: 40px;
        }
        
        #solver {
            width: 75px;
            height: 55px;
            background-color: darkgreen;
            margin: 5px;
            border-radius:20px;
            font-weight: bold;
            font-size: 40px ;
        }
        
        @keyframes fadeInUp {
            from {
                opacity: 0;
                transform: translateY(20px);
            }

            to {
                opacity: 1;
                transform: translateY(0);
            }
        }
        .conv-overlay.show, 
        .tri-overlay.show, 
        .calc-overlay.show {
            display: flex;
            opacity: 1;
        }
        
        h1, h2 {
            color: purple;
            background-color: rgba(200,200,0,0.6);
            border-radius: 7px;
            border: 4px solid brown;
            
        }
        #hedr {
            color: purple;
            background-color: rgba(200,200,0,0.6);
            border-radius: 7px;
            border: 4px solid brown;
            height: 1.9em;
        }
        
        p {
           /* border:3px solid green;*/
           border-radius: 5px;
            width: 100px;
            margin-left:100px;
            background-color: blue;
            color: white;
            font-weight: bold;
        }
        
        .icons {
            font-size: 50px;
        }
        
                
        .calc-box.dar, 
        .tri-box.dar,
        .conv-box.dar,
        .page-container.dar {
            background-color: rgb(70,70,70);
        }
        label {
            font-weight: bold;
            margin-left: 240px;
            color: white;
        }
        label.dar {
            color: rgba(190,190,190,0.8);
        }
        
        #clock {
            margin-top:20px;
            margin-left:30px;
            width:80%;
            justify-content: center;
            align-items: center;
            text-align: center;
            border: 1px solid red;
            font-size:15px;
            font-weight: bold;
            color: brown;
            background-color: rgba(255.255,210,1);
            border-radius: 5px;
        }
        #clockView {
            display: inline-block;
            padding-left: 10px;
            padding-right: 10px;
            border-radius: 5px;
            background-color: rgba(170,170,170,1);
            color: rgba(0,0,0,1);
            margin-right: 20px;
            font-family: 'Digital-7', monospace;
        }
        #dateView {
            margin-left: 20px;
            font-family: 'Digital-7', monospace;
        }
        #prev {
            margin-left: 120px;
            background-color: rgba(200,180,190,1);
            color: darkred;
            border-radius: 4px;
            font-weight: bold;
            border: 1px solid rgba(200,180,190,0.7) ;
            box-shadow: 0 3px 5px rgba(0,0,0,0.9);
            transition: transform 0.3s ease-in-out, background 0.3s ease-in-out;
            
        }